<main class="cities">
  <section class="popular-header first">
    <h2>Popular Cities</h2>
  </section>

  <section class="popular">
    @for (city of showcaseCities; track city.id) {
    <a 
      [routerLink]="['/cities', city.id]" 
      class="showcase-card popular-size"
      [style.background-image]="'url(' + city.backgroundImage + ')'">
      <div class="showcase-content">
        <h2>{{ city.name }}</h2>
        <p>{{ city.description }}</p>
        <span>Explore City</span>
      </div>
    </a>
  }
  </section>

  <section class="cities-header second">
    <h2>Other Cities</h2>
    <p>Many more to explore within Metroo Manila</p>
  </section>

  <section class="all-cities-grid">
    @for (city of regularCities; track city.id) {
    <a 
      [routerLink]="['/cities', city.id]" 
      class="showcase-card regular-size"
      [style.background-image]="'url(' + city.backgroundImage + ')'">
      <div class="showcase-content">
        <h2>{{ city.name }}</h2>
        <p>{{ city.description }}</p>
        <span>Explore City</span>
      </div>
    </a>
  }
  </section>
</main>