
<!-- <section class="popular">      -->
  <a [routerLink]="['/cities', code() ]" class="showcase-card qc">
    <div class="showcase-content">
      <h2>{{ name() }}</h2>
      <p>{{ description() }}</p>
      <span>Explore City</span>
    </div>
  </a>
  
  <!-- <a [routerLink]="['/cities/makati']" class="showcase-card makati">
    <div class="showcase-content">
      <h2>Makati</h2>
      <p>The business district filled with cafés, bars, and malls.</p>
      <span>Explore City</span>
    </div>
  </a>

  <a [routerLink]="['/cities/manila']" class="showcase-card manila">
    <div class="showcase-content">
      <h2>Manila</h2>
      <p>Historic landmarks, cultural gems, and iconic destinations.</p>
      <span>Explore City</span>
    </div>
  </a>

  <a [routerLink]="['/cities/taguig']" class="showcase-card taguig">
    <div class="showcase-content">
      <h2>Taguig</h2>
      <p>BGC lifestyle, modern city vibes, and scenic hangout spots.</p>
      <span>Explore City</span>
    </div>
  </a> -->
<!-- </section> -->