<div #homeCarousel id="homeCarousel" class="carousel slide carousel-fade carousel-hero" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">
    <div *ngFor="let slide of slides; let i = index" 
         class="carousel-item" 
         [class.active]="i === 0">
      <img [src]="slide.image" class="d-block w-100" [alt]="'Slide ' + (i + 1)">
      <div class="carousel-caption">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
      </div>
    </div>
  </div>

  <div id="carouselProgress" class="carousel-progress" aria-hidden="true">
    <div *ngFor="let slide of slides; let i = index" 
         class="progress-line" 
         (click)="goToSlide(i)">
      <span class="progress-fill"></span>
    </div>
  </div>
</div>

<section class="cities-preview">
  <div class="section-header">
    <h1>{{ labels.FIND_YOUR_SPOT }}</h1>
    <p>{{ labels.CITY_SELECTION }}</p>
  </div>
  
  <div class="home-cities-grid">
    @for (city of showcaseCities; track city.id) {
      <app-popular-cities 
        [name]="city.name" 
        [description]="city.description" 
        [code]="city.id"
        [cityType]="'popular-size'"
        [backgroundImage]="city.backgroundImage">
      </app-popular-cities>
    }
  </div>
  <div class="view-all-wrapper">
    <a routerLink="/cities" class="view-all-btn">{{ labels.VIEW_ALL }}</a>
  </div>
</section>

<section class="why-metrospot">
  <div class="why-left">
    <h2> {{ labels.WHY_METROSPOT }} </h2>
    <p> {{ labels.WHY_DESCRIPTION }} </p>
  </div>

  <div class="why-right">
    @for (block of whyBlocks; track block.num){
    <div class="why-block">
        <span class="num">{{ block.num }}</span>
        <h3>{{ block.title }}</h3>
        <p>{{ block.description }}</p>
      </div>
  }
  </div>
</section>