<div #homeCarousel id="homeCarousel" class="carousel slide carousel-fade carousel-hero" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">
    <div *ngFor="let slide of slides; let i = index" 
         class="carousel-item" 
         [class.active]="i === 0">
      <img [src]="slide.image" class="d-block w-100" [alt]="'Slide ' + (i + 1)">
      <div class="carousel-caption">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
      </div>
    </div>
  </div>

  <div id="carouselProgress" class="carousel-progress" aria-hidden="true">
    <div *ngFor="let slide of slides; let i = index" 
         class="progress-line" 
         (click)="goToSlide(i)">
      <span class="progress-fill"></span>
    </div>
  </div>
</div>

<section class="cities-preview">
  <div class="section-header">
    <h1>Find your Spot!</h1>
    <p>Click on the city where you can enjoy your gala experience to the fullest</p>
  </div>

  <app-popular-cities name="Quezon City" description="wda" code="quezon-city" > </app-popular-cities>

  <div class="view-all-wrapper">
    <a routerLink="/cities" class="view-all-btn">View All</a>
  </div>
</section>

<section class="why-metrospot">
  <div class="why-left">
    <h2>Why MetroSpot?</h2>
    <p>
      A city-first way to discover places that matter.
      Curated, calm, and built for exploring Metro Manila.
    </p>
  </div>

  <div class="why-right">
    <div class="why-block">
      <span class="num">01</span>
      <h3>City-Based Discovery</h3>
      <p>Explore curated spots by city, not noisy algorithms.</p>
    </div>

    <div class="why-block">
      <span class="num">02</span>
      <h3>Curated Recommendations</h3>
      <p>No spam, no ads — just real places worth visiting.</p>
    </div>

    <div class="why-block">
      <span class="num">03</span>
      <h3>All-in-One Platform</h3>
      <p>Food, date spots, and chill zones — all in one place.</p>
    </div>

    <div class="why-block">
      <span class="num">04</span>
      <h3>Built for Real Exploration</h3>
      <p>Go beyond trending places and discover spots people actually return to</p>
    </div>

    <div class="why-block">
      <span class="num">05</span>
      <h3>Designed for Your Vibe</h3>
      <p>Whether you’re solo, dating, or just wandering — MetroSpot adapts to how you explore.</p>
    </div>
  </div>
</section>