<section class="contact-page">

    <h1>{{ labels.PAGE_TITLE }} </h1>

    <div class="contact-cards">
      <button class="card" [class.active]="activeForm === 'contact'" (click)="showContactForm()">
        <h3>{{ labels.CONTACT_CARD_TITLE }}</h3>
        <p>{{ labels.CONTACT_CARD_DESC }}</p>
      </button>

      <button class="card" [class.active]="activeForm === 'suggest'" (click)="showSuggestForm()">
        <h3>{{ labels.SUGGEST_CARD_TITLE }}</h3>
        <p>{{ labels.SUGGEST_CARD_DESC }}</p>
      </button>
    </div>

    <div class="forms">
      <!-- Contact Form -->
      <form class="form" 
            [class.active]="activeForm === 'contact'" 
            [formGroup]="contactFormGroup"
            (ngSubmit)="onContactSubmit()">

        <input type="text" 
               formControlName="name"
               placeholder="Your name" required>

        @if (name?.invalid && name?.touched) {
          <div class="error">Name is required</div>
        }

        <input type="email" 
               formControlName="email"
               placeholder="Your email" required>
         @if (email?.invalid && email?.touched) {
          <div class="error">Valid email is required</div>
        }

        <textarea formControlName="message"
                  placeholder="Your message"></textarea>

        @if (message?.invalid && message?.touched) {
          <div class="error">Message is required</div>
        }

        <button type="submit" 
                [disabled]="!contactFormGroup.valid">{{ contactForm.SUBMIT_BTN }}</button>
      </form>

       <!-- Suggest Form -->
      <form class="form" 
            [class.active]="activeForm === 'suggest'" 
            [formGroup]="suggestFormGroup" 
            (ngSubmit)="onSuggestSubmit()">
        
        <input type="text" 
               formControlName="placeName" 
               placeholder="Place name" 
               required>
        @if (placeName?.invalid && placeName?.touched) {
          <div class="error">Place name is required</div>
        }
        
        <input type="text" 
               formControlName="city" 
               placeholder="City (e.g. Makati)">
        
        <textarea formControlName="reason" 
                  placeholder="Why should we feature this spot?" 
                  required></textarea>
        @if (reason?.invalid && reason?.touched) {
          <div class="error">Reason is required</div>
        }
        <button type="submit" 
                [disabled]="!suggestFormGroup.valid">{{ suggestForm.SUBMIT_BTN }}</button>
      </form>
    </div>

  </section>